[Unit]
Description=xl2tpd
After=syslog.target network.target local-fs.target

[Service]
PermissionsStartOnly=true
; blank ExecStart= line flushes the list
ExecStart=
ExecStart=/usr/sbin/ipsec up myvpn
ExecStartPost=echo "c myvpn" > /var/run/xl2tpd/l2tp-control
ExecStartPost=route add default dev ppp0
TimeoutSec=45s
Restart=always
; exec

User=root
Group=root
UMask=0022

[Install]
WantedBy=multi-user.target